//- includes foot.pug (comment for the Pug code, will not output within the markup)
footer#footer
  a(class="button" href="https://www.freecodecamp.com/meleany" target="_blank") 
    i.fa.fa-free-code-camp.fa-2x.fa-fw
  a(class="button" href="https://github.com/meleany" target="_blank")
    i.fa.fa-github-alt.fa-2x.fa-fw
  a(class="button" href="https://codepen.io/meleany" target="_blank")
    i.fa.fa-codepen.fa-2x.fa-fw
  a(class="button" href="https://ymelbart.wordpress.com" target="_blank")
    i.fa.fa-wordpress.fa-2x.fa-fw
  p Copyright © 2017 Yasmin Melean